<footer id="sticky-footer" class="py-4 bg-white text-dark shadow-sm mt-3">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Atanas Minkov", "https://minkov.tech", class: "text-dark", target: "_blank" %></small>
  </div>
</footer>